/* Magnifying glass color: d96f32 
 maximum yellow red: E8C547
silver lake blue 5c80bc
gargoyle gas yellow fde74c
yankees blue 092b40
*/
body {
    margin-top: 8vh;
}
a {
    text-decoration: none;
/* how could I animate an underline on hover?
  border-bottom: 1px solid white;*/
}

a:hover {
  font-style: italic;
  text-decoration: underline;
}
.hit {
  position: relative;
}
.hit:hover {
  cursor: hand;
  cursor: pointer;
  opacity: .9;
}

.hit a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 10;
/*  raises anchor tag above everything else in the div*/
}